
timeValue: {{ timeValue }} <br>
<!-- {{myform.value | json}} -->

<form novalidate [formGroup]="myform">
  <div class="btn btn-test">
    <button class="btn btn-primary" type="button" (click)="getTime()">getTime</button>

  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text"
           class="form-control">
  </div>
  <div class="form-group">
    <label>Number</label>
    <input type="text"
    formControlName="number"
    value="{{timeValue}}"
           class="form-control">

  </div>
  <fieldset>
    <div class="form-group">
      <p>!! convert # -> time</p>
      <label>Time</label>
      <input type="time"
      formControlName="number"

             class="form-control"
             value="SavedTime">
    </div>

  </fieldset>

  <div class="form-group">
    <label>Client</label>
    <input type="text"
    formControlName="client"
           class="form-control">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea type="text"
    formControlName="description"
           class="form-control"></textarea>
  </div>

  <div class="form-end ">

    <button class="btn btn-primary mx-4" type="submit" [disabled]="!myform.valid">Submit Entry</button>
    <button class="btn btn-primary" type="button" (click)="logForm()">logForm</button>

  </div>

</form>
