<div class="container">


	<nav class="navbar navbar-expand-sm  d-flex justify-content-between align-items-end">
        <a class="navbar-brand" routerLink="/"
        >NG Time TrackR </a>


        <div class=" navbar-nav  " id="navbarSupportedContent">

            <div class="btn-group ">
                <button type="button" class="btn btn-dark "
                routerLink="/entry-list"
                aria-expanded="false">
                Projects
                </button>
                <button type="button" class="btn btn-dark ml-2"
                routerLink="/entry-list"
                aria-expanded="false">
                Clients
                </button>
                <button type="button" class="btn btn-dark ml-2"
                routerLink="/entry-list"
                aria-expanded="false">
                TimeSheet Entries
                </button>
                <button type="button" class="btn btn-dark ml-2"
                routerLink="/new"
                aria-expanded="false">
                New Entry
                </button>
                <!-- <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Directives & Pipes
                </button> -->
                <!-- <div class="dropdown-menu">
                    <a routerLink="/directive-example" routerLinkActive="active" type="button" class="dropdown-item">item one  </a>
                    <a routerLink="/directive-example" routerLinkActive="active" type="button" class="dropdown-item">item two  </a>
                </div> -->
            </div><!-- END .btn-group -->

        </div>
    </nav>
</div>

