<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <div class="header text-center">
          <h2 class="main-title">
            Stop Watch for New Time Sheet Entry
          </h2>
        </div>
        <hr />
        <div>
          <app-timer [start]="_start" [showTimerControls]="true"></app-timer>
        </div>
        <div>
          <app-entry-form></app-entry-form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>
  </div>
  <hr>
  <!-- <div class="row">
    <div class="col-xs-12">

    </div>
  </div> -->
</div>
