<div class="container">
	<section class="timer-counter-label">
		<div *ngIf="counter" [ngClass]="{blink: !running}" class="bg-light">
			<span>{{minutes}}:</span><span>{{seconds}}:</span> <span>{{milliseconds}}</span>
    </div>
		<div *ngIf="!counter" class="bg-light">
			<span>{{minutes}}:</span><span>{{seconds}}:</span> <span>{{milliseconds}}</span>
		</div>
	</section>
	<div class="timer-button-container" *ngIf="showTimerControls">
		<button class="timer-button" (click)="startTimer()">
			{{ startText }}
		</button>

    <button [disabled]='(running || !counter)' [ngClass]="{'disabled': (running || !counter)}" class="savetime-button timer-button" (click)="SaveTime()">Save Time</button>

		<button class="timer-button" (click)="clearTimer()">Clear</button>
		<br>
    {{ counter }}
		<br>

	</div>
</div>
